if ! has nix_direnv_version || ! nix_direnv_version 3.0.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.1/direnvrc" "sha256-ADTPg7QdYkuK7dNEuAYb0jCTF1WGRU5RmCujTuzDXr0="
fi

use flake
